@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@1,300&display=swap');
body{
    text-align: center;
    font-family: 'Chakra Petch', sans-serif;
}
main{ 
    margin-top: 15%;
   
}
button{
    padding: 10px;
    margin-top: 20px;
    width: 30%;
    border-radius: 50px;
    
}
#punchlinebtn{
    display: none;
}



